@font-face {
  font-family: "MuseoW01-700";
  src: url("fonts/museow01-700.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html, body{
  font-size: 100%;
}
img{
  border: 0;
  display: block;
  -ms-interpolation-mode: bicubic;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: "MuseoW01-700",serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  background: #04B7B1;
}
.inner{
  max-width: 870px;
  margin: 0 auto;
  padding: 0 20px;
}
.banner {
  background: #04B7B1;
  color: white;
  font-size: 25px;
  line-height: 23px;
  padding: 20px 0 18px;
}
.page {
  background: white;
}
h1 {
  font-size: 80px;
  line-height: 76px;
  padding: 40px 0 30px;
  display: block;
  margin: 0 auto;
  color: black;
}
h2 {
  color: #333;
  font-size: 54px;
  margin: 0 0 20px;
  text-decoration: underline;
}
.video {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: auto;
  border-bottom: 8px solid #04B7B1;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
p {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 40px;
  color: black;
  margin: 20px auto;
}
.button {
  display: inline-block;
  cursor: pointer;
}
.button a{
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  background: #04B7B1;
  border: solid rgba(51, 51, 51, 1) 6px;
  box-shadow: 1px 1px #346766, 3px 3px #346766, 5px 5px #346766, 7px 7px #346766, 9px 9px #346766;
  transition: all 0.12s ease 0s;
  padding: 24px 40px 16px;
  color: white;
  font-family: "MuseoW01-700",serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
}
.button:hover a{
  background: rgba(244, 88, 48, 1);
  border: solid rgba(51, 51, 51, 1) 6px;
  box-shadow: 0 0 #346766;
  left: 9px;
  top: 9px
}
.menu{
  margin: 40px 0 30px;
  text-align: left;
}
.menu .button {
  margin: 0 10px 20px 0;
}
.menu .button:last-child {
  margin-right: 0;
}
.highlighted {
  color: #04B7B1;
}
.share {
  text-align: center;
  display: none;
}
.share .networks{
  max-width: 600px;
  margin: 0 auto 0px;
}
.share a.network {
  width: 150px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 6px;
  background: silver;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px 2px;
  color: white;
  display: inline-block;
}
.share a.network.whatsapp { background: rgb(77, 194, 71);}
.share a.network.facebook { background: rgb(59, 89, 152);}
.share a.network.twitter { background: rgb(29, 161, 242);}
.share a.network.telegram { background: rgb(0, 136, 204);}
.share a.network.pinterest { background: rgb(203, 32, 39);}
.share a.network.email { background: rgb(132, 132, 132);}
.share a.network .icon {
  height: 20px; 
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
}
.share p.extra {
  text-align: center;
  max-width: 800px;
}
.share p.extra a {
  color: #04B7B1;
  font-weight: bold;
}
.drawings .inner {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.drawings .drawing {
  height: 320px;
  /*border-bottom: 8px solid #04B7B1;*/
  margin: 10px;
  text-align: center;
}
.drawings .drawing img, 
.drawings .drawing video {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.drawings .drawing p {
  display: block;
  max-width: 100%;
  margin: 4px 0 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.drawings .drawing p a {
  color: black;
}
.footer {
  background: #67CFCB;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.footer .inner {
  max-width: 1000px;
}
.footer h2 {
  color: black;
}
.footer h4 {
  font-size: 34px;
  margin: 0 0 30px;
  text-decoration: underline;
  color: #222;
}
.footer .logos a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.footer .logos img {
  height: 80px;
  display: inline-block;
  margin: 20px;
  filter: grayscale(100%);
}
.footer .logos img.big {
  height: 100px;
}
.footer .logos img.very-big {
  height: 120px;
}
.footer .logos img.small {
  height: 60px;
}
.footer ol {
  list-style-position: inside;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  text-align: left;
}
.footer ol.col-3 {
  column-count: 3;
  column-gap: 20px;
}
.footer ol.col-4 {
  column-count: 4;
  column-gap: 10px;
}
.footer ol li {
  margin: 0 0 10px;
}
.footer ol li {
  color: #333;
  font-family: "Open Sans", sans-serif;
}
.footer ol.col-3 li, .footer ol.col-3 li a {
  font-size: 20px;
}
.footer ol.col-4 li, .footer ol.col-4 li a {
  font-size: 18px;
}
.footer img {
  max-width: 80vw;
  margin: 0 auto;
  display: block;
}
.bottom {
  background: #04B7B1;
  text-align: center;
  padding: 50px 20px 40px;
}
.bottom .inner {
  max-width: 2000px;
}
.bottom h3{
  display: inline-block;
  font-size: 77px;
  color: black;
}
@media (max-width: 940px) {
  body {
    text-align: center;
  }
  .inner{
    padding: 0 10px;
  }
  .banner {
    font-size: 25px;
    line-height: 23px;
    padding: 14px 0 10px;
  }
  h1 {
    font-size: 55px;
    line-height: 56px;
    padding: 30px 0 20px;
  }
  h2 {
    font-size: 34px;
    margin: 0 0 10px;
  }
  .video {
    border: 0;
    border-radius: 0;
  }
  p {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    margin: 20px auto;
    text-align: center;
  }
  .menu{
    margin: 30px auto 20px;
    text-align: center;
    padding-right: 10px;
    max-width: 600px;
  }
  .button a{
    padding: 10px 20px 6px;
    font-size: 30px;
  }
  .share h2 {
    margin: 0 0 20px;
  }
  .share p.extra {
    max-width: 600px;
  }
  .drawings .drawing {
    height: 250px;
    margin-bottom: 40px;
  }
  .footer {
    width: 100%;
    overflow: hidden;
    padding: 40px 10px 20px;
  }
  .footer h4 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  .footer .logos img {
    height: 60px;
    margin: 10px;
  }
  .footer .logos img.very-big{
    height: 90px;
  }
  .footer .logos img.big{
    height: 80px;
  }
  .footer .logos img.small{
    height: 40px;
  }
  .footer ol.col-3 li {
    font-size: 16px;
  }
  .footer ol.col-4 li {
    font-size: 14px;
  }
  .bottom {
    padding: 40px 10px 20px;
  }
  .bottom h3{
    font-size: 50px;
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .drawings .inner {
    flex-direction: column;
    margin-bottom: 0;
  }
  .drawings .drawing {
    height: auto;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 15px;
    padding: 0 10px;
    border: 0;
  }
  .drawings .drawing img,
  .drawings .drawing video {
    height: auto;
    width: 100%;
  }
  .drawings .drawing p {
    margin-top: 0px;
  }
  .footer.bottom {
    text-align: left;
  }
  .footer h4 {
    margin: 0 0 10px;
  }
  .footer ol {
    margin-bottom: 20px;
  }
  .footer ol.col-3 {
    column-count: 2;
  }
  .footer ol.col-4 {
    column-count: 3;
  }
}
@media (max-width: 590px) {
  .menu{
    max-width: 500px;
  }
  .button a {
    font-size: 26px;
    padding: 14px 20px 8px;
  }
  .footer .logos img {
    height: 40px;
    margin: 10px;
  }
  .footer .logos img.very-big{
    height: 70px;
  }
  .footer .logos img.big{
    height: 60px;
  }
  .footer .logos img.small{
    height: 30px;
  }
}
@media (max-width: 490px) {
  .footer ol.col-3 {
    column-count: auto;
  }
  .footer ol.col-4 {
    column-count: 1;
  }
  .footer ol li{
    font-size: 16px !important;
  }
}
